<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="POST">
  <div class="input-field">
    <input id="Title" name="title" type="text" class="validate" value="{{course.title}}" required>
    <label for="title">Course name</label>
    <span class="helper-text" data-error="Input name"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" value="{{course.price}}" required min="1">
    <label for="price">Price</label>
    <span class="helper-text" data-error="Input price"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" value="{{course.img}}" required>
    <label for="img">Img URL</label>
    <span class="helper-text" data-error="Input img-url"></span>
  </div>

  <input type="hidden" name="id" value="{{course.id}}">

  <button class="btn btn-primary">Save course</button>
</form>