<h1>Edit {{product.title}}</h1>

<form action="/products/edit" method="POST" class="product-form">
  <div class="input-field">
    <input id="Title" name="title" type="text" class="validate" value="{{product.title}}" required>
    <label for="title">Product name</label>
    <span class="helper-text" data-error="Input name"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" value="{{product.price}}" required min="1">
    <label for="price">Price</label>
    <span class="helper-text" data-error="Input price"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" value="{{product.img}}" required>
    <label for="img">Img URL</label>
    <span class="helper-text" data-error="Input img-url"></span>
  </div>

  <input type="hidden" name="id" value="{{product.id}}">
  <input type="hidden" name="_csrf" value="{{csrf}}">

  <button type="submit" class="btn btn-primary">Save product</button>
</form>

<form action="/products/remove" method="POST">
  <input type="hidden" name="id" value="{{product.id}}">
  <input type="hidden" name="_csrf" value="{{csrf}}">
  <button class="btn red">Remove product</button>
</form>